body {
  margin-left: 10px;
  color: #696969;
}

.separator30 {
  height: 30px;
}

.line {
  width: 80%;
  border-top: 1px solid #DCDCDC;
  margin: 0 auto 20px auto;
}

.left {
  text-align: left;
}
.shade {
  background-color: #f0f0f0;
  height:40px;

}

.padLeft {
  padding-left: 10%;
}
.padLeft2 {
  padding-left: 17%;
}

.vcenter {
  height: 40px;
  line-height: 40px;
      display: flex;
  align-items: center;
  padding-left:20px;
}


.white {
  color: #ffffff;
}
.box {
  border: 1px solid #8c96c6;
    padding-left: 10px;
    margin-bottom: 30px;

}

.box_head {
  background-color: #8c96c6;
  height: 30px;  
  line-height: 30px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}


.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.navbar-nav { 
  color: #808080;
}


.left-line{
  border-left: 1px solid #DCDCDC;
  height: 300px;
  margin-top: 20%;
}

.radio_button {
  border: 1px solid #DCDCDC ;
  background-color: #F0F0F0;
  padding: 0 5px 0 8px;
}

.select_button {
  border: 1px solid #DCDCDC ;
  background-color: #F0F0F0;
  padding: 0 5px 0 8px;
  width: 300px;
  margin-top: 15px;
}
.radio_buttontop {
  margin-top: 75px;
}




li a {
  color: #696969;
}



.footer_text {
display: block;
text-align: center;
font-style: italic;
margin-bottom: 15px;
}


h4, h5 {
font-weight:bold;
  color: #696969;
}

h6 {
font-size :1.6REM;
  color: #696969;

}

.about_us {
  margin: 30px 0 10px 30px;
}

.symbol {
width: 100%;
border: 1px solid #DCDCDC ;
margin-top: 60px;
margin-right: 15px;
}

.col3_pad {
      margin-right: 20px;
}

.large_div {
  height: 500px;
}